<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app</title>
</head>
<center><h1 style="color:red;">Welcome to Bank of India</h1></center><br><br>
<body style="background-color:#b3daff">


<center>
    <form method="post">
        <div>
            Account balance is: 120756.45 Rs<br><br>
            <hr>
            Enter amount to process: <input type="text" name="num1" required><br><br>

            select transaction: <select name="key">
            <option value="0">----select----</option>
            <option value="1">withdraw</option>
            <option value="2">deposit</option>

        </select><br><br>
            <input type="submit"><br><br>
        </div>
    </form>

</center>
</html>
